@use "../abstracts/variables";
.hero-container {
  width: 100%;
  padding: 70px 140px 0 140px;
  box-sizing: border-box;
  .hero-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    @media (max-width: 768px){
      flex-direction: column;
    }
    h1 {
      color: variables.$text-foreground;
      // flex-grow: 1, flex-shrink: 1, flex-basis: 1%
      flex: 1;
      font-size: 48px;
      line-height: 1.1;
    }
    h1 > span {
      > span {
        font-size: 70px;
        background: linear-gradient(to right, #ff8b01, #ff3737);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .help-section {
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;
      justify-content: center;
      align-items: flex-start;
      .help-item {
        display: flex;
        flex-flow: column nowrap;
        span:first-child {
          font-weight: bold;
        }
        span:last-child {
          color: variables.$text-second;
        }
      }
    }
    .list-article-title {
      font-size: 24px;
    }
  }
}
